<%= render "shared/header"%>

<div class="user-profile_box">
  <div class="user-profile">基本情報
    <div class="user_nickname_box">
      <div class="category-box">ニックネーム</div>
      <div class="user-nickname">
        <%= @user.nickname %>
      </div>
    </div>
    <div clss="user-box">
      <div class="user_address_box">
        <div class="category-box">所在地</div>
        <div class="user_address">
          <span class="item-postage">
            <%= @user.region[:name] %>
          </span>
          <span class="item-postage">
            <%= @user.city %>
          </span>
        </div>
      </div>
    </div>
    <%= link_to edit_user_path(current_user),class: "user_edit_link" do %>
      <div class="user_edit_btn">
        編集
      </div>
    <% end %>
  </div>
</div>
<br/>
<br/>
<p class="user-events-all"><%= @user.nickname %>さんの投稿一覧</p>
<%= render "shared/event_header" %>
  <% @events.each do |event| %>
    <%= render "shared/user_event_show", event: event, show_actions: true %>
  <% end %>
<br/>
<p class="user-events-all"><%= @user.nickname %>さんのお気に入り一覧</p>
<%= render "shared/event_header" %>
<% @favorites.each do |favorite| %>
  <div class="event_boxes">
    <div class="event-box">
      <div class="event-title">
        <%= favorite.event.title %>
      </div>
      <div class="event-content-main">
        <%= favorite.event.content %> 
      </div>
      <div class="event-content">
        <% if favorite.event.start_time == favorite.event.end_time %>
          <div class="start_time_only">
            <%= favorite.event.start_time %>
          </div>
        <% else %>
          <div class="start_end_time">
            <%= favorite.event.start_time %> <br/>～ <%= event.end_time %>
          </div>
        <% end %>
      </div>
        <% if favorite.event.favorited_by?(current_user) %>
          <div class="favorite">
            <%= link_to "★", event_favorites_path(favorite.event.id, redirection: 'user'), data: { turbo_method: :delete }, class: "event_favorites" %>
          </div>
        <% end %>
    </div>
  </div>
<% end %>