<%= render "shared/header"%>

<div class="user-profile_box">
  <div class="user-profile">基本情報
    <div class="user_nickname_box">
      <div class="category-box">ニックネーム</div>
      <div class="user-nickname">
        <%= @user.nickname %>
      </div>
    </div>
    <div clss="user-box">
      <div class="user_address_box">
        <div class="category-box">所在地</div>
        <div class="user_address">
          <span class="item-postage">
            <%= @user.region[:name] %>
          </span>
          <span class="item-postage">
            <%= @user.city %>
          </span>
        </div>
      </div>
    </div>
    <%= link_to edit_user_path(current_user),class: "user_edit_link" do %>
      <div class="user_edit_btn">
        編集
      </div>
    <% end %>
  </div>
</div>
<br/>
<br/>

<p class="user-events-all"><%= @user.nickname %>さんの投稿一覧</p>
<br/>
<%= render "shared/event_header" %>

<% @events.each do |event| %>
  <%= render "shared/eventsindex", event: event, show_actions: true %>
<% end %>
