<header class="header-area">
  <div class="menu">
    <div class="left-menu">
      <div class="title">
        <%= link_to "Shopping-Calendar", users_path, class: "title_logo" %>
      </div>
    </div>
    <div class="right-menu">
      <div class="nav-bar">
        <ul class="nav-elements">
          <li class="memo_more" id="memo-menu">
            MEMO
            <ul class="lists_memo hidden" id="memo-pull-down">
              <li>
                <%= link_to new_event_path, class: "memo_new" do %> 
                  <div class="new_memo_btn">
                    新規メモ
                  </div>
                <% end %>
              </li>
              <li>
                <%= link_to events_path, class: "memo_all" do %> 
                  <div class="all_memo_btn">
                    メモ一覧
                  </div>
                <% end %>
              </li>
            </ul>
          </li>
          <li>
            <%= link_to user_path(current_user), class: "user_name" do %> 
              <div class="mypage_btn">
                <%= current_user.nickname %>
              </div>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "logout" do %> 
              <div class="logout_btn">
                ログアウト
              </div>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>