<%= render "shared/header"%>

<div class="events">
  <% @events.each do |event| %>
    <div>
      <%= event.title %>
    </div>
    <div>
      <%= event.content %>
    </div>
    <div>
      <%= event.start_time %>
    </div>
    <div>
      <%= event.end_time %>
    </div>
    <div>
      <%= event.user.region[:name] %>
    </div>
    <div>
      <%= event.user[:city] %>
    </div>
  <% end %>
</div>