<%= render "shared/header"%>
    <script>
      // window.onloadでロード時に実行される
      window.onload = function(){
        // documentはブラウザに読み込まれたウェブページを表す
        // getElementByIdでHTML上で使うidを参照する
        // innerHTMLではHTML要素の内容を書き変える
        document.getElementById("sample").innerHTML
          = "Hello World!<br>↑JavaScriptによる出力";
      }
    </script>
    <p id="sample"></p>
<div class="top_page">
  <div class="top_page_app">
    <div class="top_page_title_box">
      <div class="top_page_title1">
        Shopping_Calendarでお得に情報を Get しよう🎵
      </div><br/>
      <div class="top_page_title">
        < 便利Point >
      </div>
    </div>
    <div class="app_main_explain">
      <div class="image_post">
        カレンダー
        <%= image_tag "calendar.png", class:"top_button top-js-modal-button" %>
      </div>
      <div class="top_layer top-js-modal">
        <div class="top_modal">
          <div class="top_modal__inner">
            <!-- ×ボタン追記 -->
            <div class="top_modal__button-wrap">
              <button class="top_close-button top-js-close-button">
                <span></span>
                <span></span>
              </button>
            </div>
            <div class="top_modal__contents">
              <div class="top_modal__content">
                <%= video_tag "new_event.mp4", class: "landing_video", loop: true, autoplay: true, muted: true %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="image_post">
        お気に入り
        <%= image_tag "favorite.png", class:"top_button top-js-modal-button" %>
      </div>
      <div class="top_layer top-js-modal">
        <div class="top_modal">
          <div class="top_modal__inner">
            <!-- ×ボタン追記 -->
            <div class="top_modal__button-wrap">
              <button class="top_close-button top-js-close-button">
                <span></span>
                <span></span>
              </button>
            </div>
            <div class="top_modal__contents">
              <div class="top_modal__content">
                <%= video_tag "event_favorite.mp4", class: "landing_video", loop: true, autoplay: true, muted: true %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="image_post">
        共有機能
        <%= image_tag "index.png", class:"top_button top-js-modal-button" %>
      </div>
      <div class="top_layer top-js-modal">
        <div class="top_modal">
          <div class="top_modal__inner">
            <!-- ×ボタン追記 -->
            <div class="top_modal__button-wrap">
              <button class="top_close-button top-js-close-button">
                <span></span>
                <span></span>
              </button>
            </div>
            <div class="top_modal__contents">
              <div class="top_modal__content">
                <%= video_tag "all_events.mp4", class: "landing_video", loop: true, autoplay: true, muted: true %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="image_post">
        検索機能
        <%= image_tag "search.png", class:"top_button top-js-modal-button" %>
      </div>
      <div class="top_layer top-js-modal">
        <div class="top_modal">
          <div class="top_modal__inner">
            <!-- ×ボタン追記 -->
            <div class="top_modal__button-wrap">
              <button class="top_close-button top-js-close-button">
                <span></span>
                <span></span>
              </button>
            </div>
            <div class="top_modal__contents">
              <div class="top_modal__content">
                <%= video_tag "search_events.mp4", class: "landing_video", loop: true, autoplay: true, muted: true %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="image_post">
        マイページ
        <%= image_tag "my_page.png", class:"top_button top-js-modal-button" %>
      </div>
      <div class="top_layer top-js-modal">
        <div class="top_modal">
          <div class="top_modal__inner">
            <!-- ×ボタン追記 -->
            <div class="top_modal__button-wrap">
              <button class="top_close-button top-js-close-button">
                <span></span>
                <span></span>
              </button>
            </div>
            <div class="top_modal__contents">
              <div class="top_modal__content">
                <%= video_tag "user_show.mp4", class: "landing_video", loop: true, autoplay: true, muted: true %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>